<h1>Статистика сайта</h1>

<h2>Сегодня</h2>
Пользователей на сайте: <%= Client.where("updated_at > ?", 5.minutes.ago).count %>
<br/>

Уникальных пользователей: <%= Client.today.count %>
<br/>

Просмотры: <%= PageView.today.count %>
<br/>

Среднее количество просмотров: <%= PageView.today.count.to_f / Session.today.count %>
<br/>

Сессии: <%= Session.today.count %>
<br/>

Средняя длительность сессии: <%= duration = Session.today.sum("updated_at - created_at"); parts = duration.split(":").map(&:to_f); (parts[0].hours + parts[1].minutes + parts[2].seconds).to_i / Session.today.count rescue 0 %> сек
<br/>

<h2>Просмотры по часам</h2>
<div id="chart_div">
</div>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    <% hours = PageView.today.group("cast(to_char(created_at, 'HH24') as int) + #{Time.now.utc_offset / 1.hour}").count %>

    var rows = <%= raw (0..23).map { |h| [h.to_s, hours[h] || 0] }.to_json %>;

    var data = google.visualization.arrayToDataTable([
      ['Hours',  'Просмотры'],
    ].concat(rows));

    var options = {
      title: 'Просмотры за сегодя',
      vAxis: {title: 'Просмотры за час'},
      isStacked: true
    };

    var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<h2>Код для вставки</h2>
<textarea><script>
(function(i,s,o,g,r,a,m){i['CHSTObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','<%= Rails.configuration.base_url %>/chst.js','cs');
</script>
</textarea>
