<h1>Статистика сайта</h1>

<h2>Сегодня</h2>
Пользователей на сайте: <%= Client.where("updated_at > ?", 5.minutes.ago).count %>
<br/>

Уникальных пользователей: <%= Client.today(time_zone_shift).count %>
<br/>

Просмотры: <%= PageView.today(time_zone_shift).count %>
<br/>

Среднее количество просмотров: <%= PageView.today(time_zone_shift).count.to_f / Session.today(time_zone_shift).count %>
<br/>

Сессии: <%= Session.today(time_zone_shift).count %>
<br/>

Средняя длительность сессии: <%= duration = Session.today(time_zone_shift).sum("updated_at - created_at"); parts = duration.split(":").map(&:to_f); (parts[0].hours + parts[1].minutes + parts[2].seconds).to_i / Session.today(time_zone_shift).count rescue 0 %> сек
<br/>

<h2>Просмотры по часам</h2>
<div id="chart_div" style="width: 900px; height: 500px;">
</div>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    <% hours = PageView.today(time_zone_shift).group("cast(to_char(created_at, 'HH24') as int) + #{time_zone_shift}").count %>

    var rows = <%= raw (0..23).map { |h| ["#{h}:00 - #{h+1}:00", hours[h] || 0] }.to_json %>;

    var data = google.visualization.arrayToDataTable([
      ['Hours',  'Просмотры'],
    ].concat(rows));

    var options = {
      title: 'Просмотры за сегодя',
      vAxis: {title: 'Просмотры за час'},
      isStacked: true
    };

    var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>


<div id="chart_month" style="width: 900px; height: 500px;"></div>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);

function drawChart() {
  var data = google.visualization.arrayToDataTable([
      ['День', 'Просмотры'],
      <% (0..30).to_a.reverse.each do |day| %>
        ['<%= day.days.ago.day %>',  <%= PageView.where("created_at BETWEEN ? AND ?", day.days.ago + time_zone_shift - 1.day, day.days.ago + time_zone_shift).count %>],
      <% end %>
      ]);

  var options = {
title: 'Посещаемость сайта',
       hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
       vAxis: {minValue: 0}
  };

  var chart = new google.visualization.AreaChart(document.getElementById('chart_month'));
  chart.draw(data, options);
}
</script>

<h2>Код для вставки</h2>
<textarea><script>
(function(i,s,o,g,r,a,m){i['CHSTObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','<%= Rails.configuration.base_url %>/chst.js','cs');
</script>
</textarea>

